@model JobFinder.Web.Models.DetailsOfferViewModel
<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Offer details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <h4>Title:</h4>
                </div>
                <div class="col-md-4">
                    <p class="text-primary">@Model.Title</p>
                </div>
                <div class="col-md-offset-10">
                    <p class="text-muted">Views: @Model.Views</p>
                    <p class ="text-muted">Applications: @Model.ApplicationsCount</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Description:</h4>
                </div>
                <div class="col-md-4">
                    <p class="text-primary">@Model.Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Date posted:</h4>
                </div>
                <div class="col-md-4">
                    <p class="text-primary">@Model.DateCreated</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Location:</h4>
                </div>
                <div class="col-md-4">
                    <p class="text-primary">@Model.Town</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Business sector:</h4>
                </div>
                <div class="col-md-4">
                    <p class="text-primary">@Model.BusinessSector</p>
                </div>
            </div>
        </div>
    </div>
</div>
