@model JobFinder.Web.Areas.Company.Models.BussinessCardViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bussiness card";
}

<div class="jumbotron">
    @if (TempData["InvalidModel"] != null)
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@TempData["InvalidModel"]</strong>
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@TempData["Success"]</strong>
        </div>
    }
    <div class="row">
        <div class="panel panel-primary col-lg-6">
            <div class="panel-heading">
                <h3 class="panel-title">Bussiness Card</h3>
            </div>
            <div class="panel-body">
                <h4><span class="text-default">Company name: </span><span class="text-muted"> @Model.CompanyName</span></h4>
                @if (Model.AboutUs != String.Empty)
                {
                    <h5><span class="text-default">About us: </span><span class="text-muted"> @Model.AboutUs</span></h5>
                }
                @if (Model.Address != String.Empty)
                {
                    <h5><span class="text-default">Address: </span><span class="text-muted"> @Model.Address</span></h5>
                }    
                @if (Model.WebSite != String.Empty)
                {
                    <h5><span class="text-default">Website: </span><span class="text-muted"><a href="@Model.WebSite">@Model.WebSite</a></span></h5>
                }
                <h5>
                    <span class="text-default">Bussiness sectors: </span><span class="text-muted"> @String.Join(", ", @Model.BusinessSectors.Select(b => b.Text))</span>
                </h5>
            </div>
        </div>
    </div>
    @if (HttpContext.Current.User.IsInRole("Company") && User.Identity.GetUserId() == Model.Id)
    {
        <button id="editButton" class="btn btn-primary">Edit</button>
        <hr/>
        <div id = "editForm">
            @Html.Partial("~/Areas/Company/Views/BusinessCard/_EditCardPartial.cshtml")
        </div>   
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/controls.js")"></script>
    <script>
        Controls.multipleListControl('BusinessSectors', 'BusinessSectors', 'selectedSectors', 3);

        $('#editForm').hide().addClass('hidden');
        $('#editButton').click(function () {
            var form = $('#editForm');
            if (form.hasClass('hidden')) {
                form.show();
                form.removeClass('hidden');
            }
            else {
                form.addClass('hidden').hide();
            }
        });
    </script>
}



@* using (Html.BeginForm("EditCard", "BusinessCard", new { area = "Company" }, FormMethod.Post, new { @class = "form-horizontal", id="editForm" }))
    {
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><small>Company name</small></p>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="CompanyName" placeholder="Company name">
            </div>
        </div>
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><small>About us</small></p>
            <div class="col-lg-10">
                <textarea class="form-control" name="AboutUs" placeholder="About us"></textarea>
            </div>
        </div>
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><small>Address</small></p>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="Address" placeholder="Address">
            </div>
        </div>
        <div class="form-group">
            <p class="col-lg-2 control-label text-muted"><small>Website</small></p>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="WebSite" placeholder="Website">
            </div>
        </div>
        <div class="form-group">
            <p class="col-md-2 control-label text-muted"><small>Business sectors</small></p>
            <span class="text-muted"><small><em>(Choose up to 3 sectors that apply to your company)</em></small></span>
            <div class="col-md-10">
                <select id="BusinessSectors" multiple>
                    @foreach (var item in (IEnumerable<SelectListItem>)TempData["Sectors"])
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                </select>
                <select multiple id="selectedSectors"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <script>
            Controls.multipleListControl('BusinessSectors', 'BusinessSectors', 'selectedSectors', 3);
        </script>
    }
        <div id="editForm"></div>

Ajax.ActionLink("Edit", "EditCard", "BusinessCard", new { area = "Company", id = @Model.Id },
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "editForm",
        InsertionMode = InsertionMode.Replace,
    }, new { @class = "btn btn-primary" })*@
