@model JobFinder.Web.Areas.Company.Models.BussinessCardViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bussiness card";
}

    @*if (TempData["InvalidModel"] != null)
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@TempData["InvalidModel"]</strong>
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@TempData["Success"]</strong>
        </div>
    }
    @if (TempData["NotFound"] != null)
    {
        <div class="row">
            <div class="col-lg-2">
                <img src="~/Files/warning.png" width="60" height="60" />
            </div>
            <div class="col-lg-5">
                <h2>@TempData["NotFound"]</h2>
            </div>
        </div>
    }*@
    
    @Html.DisplayFor(m => m)

    @if (HttpContext.Current.User.IsInRole("Company") && User.Identity.GetUserId() == Model.Id)
    {
        <button id="editButton" class="btn btn-primary">Edit</button>
        <hr />
        <div id="editForm">
            @Html.Partial("~/Areas/Company/Views/BusinessCard/_EditCardPartial.cshtml")
        </div>
    }
   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/controls.js")"></script>
    <script>
        Controls.multipleListControl('BusinessSectors', 'BusinessSectors', 'selectedSectors', 3);

        $('#editForm').hide().addClass('hidden');
        $('#editButton').click(function () {
            var form = $('#editForm');
            if (form.hasClass('hidden')) {
                form.show();
                form.removeClass('hidden');
            }
            else {
                form.addClass('hidden').hide();
            }
        });
    </script>
}
