@model JobFinder.Web.Models.DetailsOfferViewModel
@{
    ViewBag.Title = "OfferDetails";
}
@if (Model.IsActive)
{
    @Html.Partial("_OfferInDetailsPartial", (JobFinder.Web.Models.DetailsOfferViewModel)Model)

    if (User.IsInRole("Person"))
    {
        <div class="row">
            <div class="col-lg-2">
                @if (!(bool)TempData["HasApplied"])
                {
                    @Html.ActionLink("Apply", "ApplyForOffer", "Apply", new { area = "Person", id = Model.Id }, new { @class = "btn btn-primary" })
                }
                else
                {
                    <span class="label label-success">YOU HAVE APPLIED FOR THIS OFFER.</span>
                }
            </div>
            <div class="col-lg-offset-3">
                @Ajax.ActionLink(@TempData["FollowButtonText"].ToString(), "Follow", "FollowedOffers", new { area = "Person", id = Model.Id },
                      new AjaxOptions
                      {
                          HttpMethod = "GET",
                      }, new { @class = "btn btn-success", id = "followButton"})
            </div>
        </div>
    }
}
else
{
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-2">
                <img src="~/Files/warning.png" width="60px" height="60px" />
            </div>
            <div class="col-lg-5">
                <h2>Expired job offer.</h2>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/controls.js")"></script>
    <script>
        Controls.changeButtonTextControl('followButton', "Follow", "Unfollow");
    </script>
}

