@model JobFinder.Web.Areas.Company.Models.BussinessCardViewModel

<div class="row">
    <div class="panel panel-primary col-lg-6">
        <div class="panel-heading">
            <h3 class="panel-title">Bussiness Card</h3>
        </div>
        <div class="panel-body">
            <h4><span class="text-default">Company name: </span><span class="text-muted"> @Model.CompanyName</span></h4>
            @if (!String.IsNullOrEmpty(Model.AboutUs))
            {
                <h5><span class="text-default">About us: </span><span class="text-muted"> @Model.AboutUs</span></h5>
            }
            @if (!String.IsNullOrEmpty(Model.Address))
            {
                <h5><span class="text-default">Address: </span><span class="text-muted"> @Model.Address</span></h5>
            }
            @if (!String.IsNullOrEmpty(Model.WebSite))
            {
                <h5><span class="text-default">Website: </span><span class="text-muted"><a href="@Model.WebSite">@Model.WebSite</a></span></h5>
            }
            <h5>
                <span class="text-default">Bussiness sectors: </span><span class="text-muted"> @String.Join(", ", @Model.BusinessSectors.Select(b => b.Text))</span>
            </h5>
        </div>
    </div>
</div>

