@model PagedList.IPagedList<JobFinder.Web.Models.ApplicationViewModel>
@{
    ViewBag.Title = "Applications";
    bool approved = (bool)TempData["approved"];
    bool rejected = (bool)TempData["rejected"];
    bool notSeen = (bool)TempData["notSeen"];
}

@Html.Partial("_FilterApplicationsMenuPartial")


@if (Model.Count() == 0)
{
    <div>No applications found.</div>
}
else
{
    <div class="results">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        @{ string classToAdd = String.Empty;
                         string filePath = String.Empty;
                         if (item.IsApproved == true)
                         {
                             classToAdd = "row alert-success";
                             filePath = "active.png";
                         }
                         else if (item.IsApproved == false)
                         {
                             classToAdd = "row alert-danger";
                             filePath = "expired.png";
                         }
                         else
                         {
                             classToAdd = "row alert-warning";
                             filePath = "notseen.png";
                         }
                        }
                        <div class="@classToAdd">
                            <div class="col-lg-3">
                                @Html.ActionLink(item.FileName, "DownloadFile", "Application", new { id = item.Id }, new { @class = "btn btn-link" })
                            </div>
                            <div class="col-lg-2">
                                <span class="text-muted"><em>@item.DateUploaded.Day/@item.DateUploaded.Month/@item.DateUploaded.Year</em></span>
                            </div>
                            <div class="col-lg-offset-6">
                                <img src="~/Files/@filePath" width="25" height="25" />
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="text-muted"><em>Change status: </em></span>
                                </div>
                                @{
                                     string approveBtn = "Approve";
                                     string rejectBtn = "Reject";
                                     string appClass = "btn btn-success btn-xs approveBtn";
                                     string rejClass = "btn btn-danger btn-xs rejectBtn";
                                     if (item.IsApproved != null)
                                     {
                                         approveBtn = item.IsApproved == true ? "Approved" : "Approve";
                                         rejectBtn = item.IsApproved == true ? "Reject" : "Rejected";
                                         appClass += item.IsApproved == true ? " disabled" : "";
                                         rejClass += item.IsApproved == true ? "" : " disabled";
                                     }
                                }
                                <div class="col-lg-1">
                                    @Ajax.ActionLink(approveBtn, "ChangeStatus", "Application", new { id = item.Id, isApproved = true },
                                new AjaxOptions { HttpMethod = "GET" }, new { @class = appClass })
                                </div>
                                <div class="col-lg-1">
                                    @Ajax.ActionLink(rejectBtn, "ChangeStatus", "Application", new { id = item.Id, isApproved = false },
                                new AjaxOptions { HttpMethod = "GET" }, new { @class = rejClass })
                                </div>
                            </div>
                        </div>
                        <br />
                    </li>
                }
            </ul>
    </div>
}

@section pager {
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GetApplications", new { page, approved = approved ? "on" : null, rejected = rejected ? "on" : null, notSeen = notSeen ? "on" : null }))
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#approved").change(submitForm);
        $("#rejected").change(submitForm);
        $("#notSeen").change(submitForm);

        function submitForm() {
            $("#filter").submit();
        }

        $('.approveBtn').click(function () {
            //$(this).hide();
            $(this).addClass('disabled').text('Approved');
            //$('#rejectBtn').removeClass('disabled').text('Reject');
        })
        $('.rejectBtn').click(function () {
            //$(this).hide();
            $(this).addClass('disabled').text('Rejected');
            //$('#approveBtn').removeClass('disabled').text('Approve');
        })


    </script>
}