@model JobFinder.Web.Models.RegisterCompanyViewModel
@{
    ViewBag.Title = "Register Company";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("RegisterCompany", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    if (ViewBag.BulstatErrorMessage != null)
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@ViewBag.BulstatErrorMessage.ToString()</strong>
        </div>
    }
    string nameError = ViewBag.NameErrorMessage;
    if (nameError != null)
	{
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@nameError</strong>
        </div>
	}
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Bulstat, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Bulstat, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Business sectors</label>
        <span>(Choose up to 3 sectors that apply to your company)</span>
        <div class="col-md-10">
            @*Html.ListBox("BusinessSectors", ((IEnumerable<JobFinder.Models.BusinessSector>)ViewBag.OriginalSectors).Select(i => new SelectListItem()
       {
           Text = i.Name,
           Value = i.Id.ToString()
       }), htmlAttributes: new { multiple = "multiple" })*@
            <select id="BusinessSectors" name="BusinessSectors" multiple>
                @foreach (var item in (IEnumerable<JobFinder.Models.BusinessSector>)ViewBag.OriginalSectors)
                {
                    <option value=@item.Id>@item.Name</option>
                }
            </select>
            <select multiple id="selectedSectors"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/selectedSectors.js")"></script>
    <script>
        Controls.multipleListControl('BusinessSectors', 'SelectedIds', 'selectedSectors', 3);
    </script>
}






