@*model JobFinder.Web.Models.SearchOfferViewModel*@
@model PagedList.IPagedList<JobFinder.Web.Models.SearchResultOfferViewModel>
@{
    ViewBag.Title = "Home Page";
}

@*Ajax.BeginForm("OfferSearchResults", "SearchOffer", new AjaxOptions {  HttpMethod = "POST", UpdateTargetId = "results", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal", role = "form" }))*@
<div class="jumbotron">
    <div class="row">
        @using (Html.BeginForm("OfferSearchResults", "SearchOffer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken();
            <fieldset>
                <legend>Search for job offers</legend>
                <div class="form-group">
                    <div class="col-lg-3">
                        <label>Select business sectors</label>
                    </div>
                    <div class="col-lg-3">
                        @*Html.DropDownListFor(s => s.SelectedIds, (IEnumerable<SelectListItem>)TempData["BusinessSectors"], new { multiple = "", id = "BusinessSectors", @class = "form-control" })*@
                        <select id="BusinessSectors" multiple class="form-control">
                            @foreach (var item in (IEnumerable<SelectListItem>)TempData["BusinessSectors"])
                            {
                                <option value=@item.Value>@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">                        
                        <select multiple id="selectedSectors" class="form-control"></select>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-lg-3">
                        <label>Select city</label>
                    </div>
                    <div class="col-lg-3">
                        @Html.DropDownList("Town", (IEnumerable<SelectListItem>)TempData["Towns"], string.Empty)
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-lg-3">
                        <label>Search by word</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" name="Word" class="form-control" placeholder="Search by keyword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    @*<div class="row" id="results">
        @Html.Partial("_OfferSearchResultsPartial", Model)
    </div>
    <div class="row" id="pager">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("OfferSearchResults", new { page }))
    </div>*@
</div>

@*section Pager {
    @{
        int pagesToDisplay = (int)TempData["OffersCount"] / Model.Count();
        if (pagesToDisplay < 5)
        {
            pagesToDisplay = (int)TempData["OffersCount"] % Model.Count() != 0 ? pagesToDisplay + 1 : pagesToDisplay;
        }
        else
        {
            pagesToDisplay = 5;
        }
    }
    <ul class="pagination pagination-sm">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/selectedSectors.js")"></script>
    <script>
        Controls.multipleListControl('BusinessSectors', 'Sectors', 'selectedSectors');
    </script>
}